@import "../../css/theme.css";

dl.legend {
  font-size: smaller;
}

dl.legend dt,
dl.legend dd {
  display: inline;
  margin: 0;
}

dl.legend dt {
  padding-left: var(--gap);
}

dl.legend dt:first-child {
  padding-left: 0;
}

dl.legend dt:after {
  content: " =";
}

dl.legend dd:before {
  content: " ";
}
