:root {
  --owlbear-popover-border-radius: 1rem;

  --margin: 1rem;
  --padding: 0.5rem;
  --gap: 0.5rem;

  --border-width: 1px;
  --border-radius: 0.5rem;

  --theme-primary-main: #bb99ff;
  --theme-primary-light: rgb(200, 173, 255);
  --theme-primary-dark: rgb(130, 107, 178);
  --theme-primary-contrast-text: rgba(0, 0, 0, 0.87);

  --theme-secondary-main: #ee99ff;
  --theme-secondary-light: rgb(241, 173, 255);
  --theme-secondary-dark: rgb(166, 107, 178);
  --theme-secondary-contrast-text: rgba(0, 0, 0, 0.87);

  --theme-background-default: #1e2231;
  --theme-background-paper: #222639;

  --theme-background-success: rgb(56, 142, 60);
  --theme-background-warning: rgb(245, 124, 0);

  --theme-text-primary: #fff;
  --theme-text-secondary: rgba(255, 255, 255, 0.7);
  --theme-text-disabled: rgba(255, 255, 255, 0.5);
}

* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: var(--padding);
  color: var(--theme-text-primary);
}

body {
  margin: 0;
  padding: calc(var(--padding) + var(--owlbear-popover-border-radius));
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  justify-content: space-between;
}

button {
  background: var(--theme-background-default);
  border: var(--border-width) solid var(--theme-primary-main);
  border-radius: var(--border-radius);
  color: var(--theme-primary-main);
  padding: var(--padding);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background: var(--theme-background-paper);
  color: var(--theme-primary-light);
  border-color: var(--theme-primary-light);
}

button.secondary {
  opacity: 0.75;
  border-color: var(--theme-secondary-main);
}

button.center-viewport {
  width: 100%;
  display: flex;
  gap: var(--gap);
  align-items: center;
}

button.center-viewport:before {
  content: " ";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  background-color: var(--theme-primary-main);
  mask: url("../static/font-awesome/svgs/users-viewfinder-solid.svg") no-repeat center;
}

button.center-viewport:hover:before {
  background-color: var(--theme-primary-light);
}

ul.flat {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

